# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.gradle
.idea
build
.run

# Build output of the IntelliJ Platform Gradle Plugin 2.x
.intellijPlatform

# Package Files #
*.jar
# ...except the Gradle wrapper, which must be committed for ./gradlew to work on a fresh clone
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.kotlin

# Working directory of the IntelliJ Platform Gradle Plugin
.intellijPlatform